# compiled output
dist/
.next/
next-env.d.ts
node_modules/
.pnpm-store/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Local environment
.env
.env.*
!.env.example

# OS
.DS_Store

# Tests
coverage/
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Development
apps/api/src/infrastrucure/prisma/generated/
apps/api/test/.runtime/
